«Три в ряд» – классическая игра, которую знают и взрослые, и дети.
Правила игры следующие: пользователь должен собрать комбинацию из трех или более фишек одного вида на игровом поле путем их перемещения.
В ходе игры на поле добавляются новые фишки, которые также могут складываться в комбинации при совпадении их вида.
Цель игры: набрать как можно большее количество очков за отведенное количество ходов.
Удачи!
